/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* RESET END */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 100%;
  height: 100%;
  gap: 5rem;
  overflow: hidden;
}

.hand {
  position: relative;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 33vh;
  width: 80vw;
  gap: 1rem;
  z-index: 1;
}

.card-container {
  position: relative;
  width: 15%;
  height: 100%;
  z-index: 1;
  transition: transform .2s ease-out;
}
.card-container:before {
  background-color: #111;
  border-radius: .5rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(4px, 4px);
  transition: transform .2s ease-out;
  z-index: -1;
}
.card-container:hover {
  outline: 0;
  transform: scale(105%);
}
.card-container:hover:before {
  transform: translate(8px, 8px);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  margin: 0;
  z-index: 1;
}
.card-back {
  background-color: purple;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card .card-number {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 42px;
}
.card .card-number-inverse {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 42px;
  transform: rotate(180deg);
}
.card img {
    width: 50%;
}

.button-box {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}
button {
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 3.5rem;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:before {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 3.5rem;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(4px, 4px);
  transition: transform .2s ease-out;
  z-index: -1;
}
button:hover:before {
  transform: translate(8px, 8px);
}
button:active {
  background-color: #ffdeda;
  outline: 0;
}
button:hover {
  outline: 0;
}
.hit_button {
  background-color: cyan;
}
.stand_button {
  background: red;
}